
@{
    ViewData["Title"] = "Calendar";
}

<h1>Calendar</h1>

<div class="demo-section k-content" style="text-align: center;">
    <h4>Pick a date</h4>
    @(Html.Kendo().Calendar()
                .Name("calendar")
                .Value(DateTime.Today)
                .Selectable("multiple")
    )
</div>